*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html{
    background: rgb(209, 211, 211);
   
}
.banner{
    background-attachment:fixed;
    background-image: url('/static/imgs/bg.jpg');
    color: white;
    box-shadow: 0px 5px 15px 10px gray;
}
#contact-btn{
    box-sizing: border-box;
    transition: 0.5s ease-out;
}
#contact-btn:hover{
    /* background-color: red; */
    transform: scale(1.1);
}

.b-center{
    display: flex;
    padding-top: 4vw;
    justify-content: center;
    flex-wrap: wrap-reverse;
    align-items: center;
}
.myinfo{
    padding: 5vw 2vw;
    padding-right: 3vw;

    max-width: 800px;
    animation: fadefromleft 2s ease-out forwards;
}
.myinfo h3{
    font-size: 30px;
}
.myinfo h2{
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.myinfo p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: narrower;
    font-size: 25px;
    font-weight: lighter;

}

.mypic{
    animation: fadeshow 2s ease-out forwards;
    overflow: hidden;
    box-sizing: border-box;
}


.b-bottom{
    margin: 0;
    padding: 5px;
    text-align: center;
    font-size: 29px;
    color: rgb(178, 245, 178);
}
@keyframes fadeshow {
    0%{
       opacity: 0; 
       transform: translateX(100%); 
    }
    100%{
        opacity: 1;
        transform: translateX(0%); 
    }
}
@keyframes fadefromleft {
    0%{
       opacity: 0;
       transform: translateX(-100%); 
    }
    
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}


/* projects  */

*{
    box-sizing: border-box;
}

.project-banner{
    border-radius: 2px;
    margin: 20px;
    background: rgb(252, 249, 250);
    height: 180px;
    overflow: hidden;
    box-shadow: 0px 13px 14px 0px rgb(129, 129, 129);
    text-decoration: none;
    transition: all 0.2s;
    animation: cometotop 3s ease-out forwards;
    left: 0px;
    backface-visibility: hidden;
    position: relative;
}

.project-banner:hover{
    transform: scaleX(1.6);
}

.project-banner h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin: 5px;
}
.project-desc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.p-date{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: rgb(204, 199, 199)
}
.thumbnail{
    height: 160px;
    overflow: hidden;
    margin-top: 5px;
}

.project-top{
    background: rgb(12, 56, 82);
    position: relative;
    border-bottom-left-radius: 20px;
    color: aliceblue;
}

@keyframes cometotop {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    50%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}
.edu-section{
    background-color: rgb(155, 156, 156);
    margin-top: 20px;
    padding: 10px 0px;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Bree Serif', serif;
    font-family: 'Fredoka', sans-serif;
}
.edu-section > h2{
    font-weight: bold;
}
.edu-main{
   
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.edu-holder{
    padding: 34px;
    margin: 15px 0px;
    background: rgb(37, 37, 37);
    color: rgb(228, 181, 93);
    width: 55vh;
    height: 25vh;
    border-radius: 5px;
    transition: 0.4s;
}
.edu-holder:hover{
    transform: scale(1.03);
}
.edu-holder > div, .edu-holder> h3 {
    text-align: center;
}

.location-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(75, 75, 74);
    color:whitesmoke;
    box-shadow: 0px 2px 1px 6px rgb(71, 71, 71);
}
.location-section > div{
    margin: 20px;
}
#contact-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(228, 222, 225);
    box-shadow: 0px 2px 14px 2px inset rgb(71, 71, 71);
    padding-bottom: 10px;
}
.c-left{
    padding-top: 40px;
}
.c-left > div:first-child{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    font-size: 36px;
    font-family: "Arial";
    color: rgb(51, 28, 73);
    font-weight: bold;
}
.c-left > div:last-child{
    display: flex;
    padding: 10px;
    justify-content: end;
    font-size: 20px;
}
.send-btn {
    border: none;
    border-radius: 5px;
    background-color: rgb(35, 35, 82);
    color: white;
    font-size: 20px;
    padding: 10px;
}

.send-btn:hover{
    background-color: black;
}

.contacts-holder{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    

}
.contacts-holder > div {
    
    padding: 10px;
}

.contacts-holder > div:nth-child(3){
    grid-column: 1/3;

}
.contacts-holder > div:nth-child(4) {
    grid-column: 1/3;
}

.contacts-holder > div > input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 0.5px solid transparent;
    padding: 5px;
}
.contacts-holder > div > textarea {
    width: 100%;
    border: none;
    padding: 5px;
}

.contacts-holder > div > input:focus{
    border-bottom: 0.5px solid black;
}

.c-right{
    padding-top: 100px;
}


.media-handles {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: auto;
    perspective: 800px;
}
.media-handles > div{
    text-align: center;
    padding: 10px;
    margin: 5px;
    width: 180px;
    background-color: rgb(161, 168, 172);
    transition: 0.4s;
    cursor: pointer;
}
.media-handles > div > i{
    font-size: 40px;
}

.media-handles > div:hover{
    position: relative;
    transform: rotateY(40deg);
    transform-style: preserve-3d;
}

footer{
    width: 100%;
    height: 80px;
    background-color: rgb(56, 55, 55);
}

.email-info{

    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 20px;
    padding-top: 30px;
}