{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="banner" id="bg-banner">
    <div class="container">
        <div class="b-center">
            <div class="myinfo">
                <h3>Hello There! I am</h3>
                <h2>Sritiman Adak</h2>
                <hr>
                <p>I am a Computer Science Engineering Student and currently persuing Btech from Techno Main Salt Lake,
                    Kolkata.</p>
                <p class="mt-2"><strong>Welcome To my Website !!</strong></p>
                <a href="#contact-section" class="btn btn-success btn-lg" id="contact-btn">Contact Me</a>
            </div>
            <div class="mypic d-flex justify-content-center">
                <!-- <svg height="400px" width="400px">
                    <polygon points="40,198 0,400 360,400, 280,140" style="fill:rgba(83, 73, 231, 0.6);"
                        stroke-linejoin: "round" />
                        <image href="/static/imgs/my-img.png" x="0" y="85" height="330" width="370" />
                    </svg> -->
                <img src="static/imgs/my-img.png" alt="NF" />    
            </div>

        </div>
        <div class="b-bottom">
            <span>My Projects</span>
            <i class="bi bi-arrow-down-circle-fill"></i>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center align-item-center m-2" style="transition: 0.5s;">
        {% for project in projects %}
        <a class="col-md-5 project-banner m-3" href="{{project.link}}">
            <div class="row">
                <div class="col-4 thumbnail">
                    <img src="{{project.image.url}}" alt="Not-found" class="img-fluid">

                </div>
                <div class="col-8 project-top">
                    <h3>{{project.title}}</h3>
                    <hr>
                    <p class="p-date"><i class="fas fa-clock"></i> {{project.date}}</p>
                    <!-- <p class="project-desc">{{project.desc}}</p> -->
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
<div class="edu-section" id = "edu-section-id">
    <h2 class="text-center mt-2 mb-3">Education</h2>
    <div class="container edu-main">
        <div class="edu-holder" onclick="sendToPage('www.southpoint.edu.in')" style="cursor: pointer;">
            <div><i class="fa-solid fa-book-open-reader fa-3x mb-2"></i></i></div>
            <h3>
                South Point School
                
            </h3>
            <div>till 2011</div>
        </div>
        <div class="edu-holder" onclick="sendToPage('www.southpoint.edu.in')" style="cursor: pointer;">
            <div><i class="fas fa-school fa-3x mb-2"></i></div>
            <h3>
                South Point High School
                
            </h3>
            <div>2011-2018</div>
        </div>
        <div class="edu-holder" onclick="sendToPage('ticollege.ac.in')" style="cursor: pointer;">
            <div><i class="fa-solid fa-user-graduate fa-3x mb-2"></i></i></div>
            <h3>
                Techno Main Salt Lake
            </h3>
            <div>2018-2022</div>
        </div>
    </div>
</div>
<div class="location-section">
    <div class="location-info">
        <h2><i class="fa-solid fa-map-location-dot"></i> Location</h2>
        <hr>
        <p><strong><i class="fa-solid fa-location-dot"></i> City: </strong>Kolkata, India</p>
        <p><strong>Address: </strong> 22, Surya Sen Pally, Haridevpur, Kolkata - 700082</p>
        <p><strong>State: </strong>West Bengal</p>
        <p><strong>Pin Code: </strong>700082</p>
    </div>
    <div class="location-map">
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6115.872069717836!2d88.33199414146179!3d22.472770881584864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a027088c7180563%3A0x2888345158de2873!2sSurya%20Sen%20Pally%2C%20Haridevpur%2C%20Paschim%20Putiary%2C%20Kolkata%2C%20West%20Bengal%20700041!5e0!3m2!1sen!2sin!4v1646463569746!5m2!1sen!2sin"
        width="350vh" height="300vh" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    
</div>

<div id="contact-section">
    <form class="c-left" method="post">
        {% csrf_token %}
        <div>
            <span>Contact Me</span>
            <span><i class="fa-solid fa-square-phone-flip"></i></span>
        </div>
        <hr>
        <div class="contacts-holder">
            <div><input required type="text"  placeholder="First Name" name="fname" ></div>
            <div><input required type="text"  placeholder="Last Name" name="lname" ></div>
            <div><input required type="email" placeholder="Email"  name="email" ></div>
            <div><textarea name="message" id="" cols="30" rows="10" placeholder="Message" required></textarea></div>
        </div>
        <div>
            <button type="submit" class="send-btn"><i class="fa-solid fa-paper-plane"></i> Send</button>
        </div>
    </form>
    <div class="c-right">
        <div class="media-handles">
            <div  onclick="sendToPage('hi-in.facebook.com/sritiman.adak.77?comment_id=Y29tbWVudDozOTMwMzE4NzE2OTk1MDYyXzM5MzA1NDc0NTAzMDU1MjI%3D')" ><i class="fa-brands fa-facebook-square" style="color: rgb(23, 85, 179);"></i></div>
            <div  onclick="sendToPage('www.youtube.com/channel/UCC7npqC5Mk6s16MejB1xqdw/featured')" ><i class="fa-brands fa-youtube" style="color: rgb(255, 0, 0);"></i></div>
            <div  onclick="sendToPage()" ><i class="fa-brands fa-instagram-square" style="color: rgb(240, 44, 119);"></i></div>
            <div  onclick="sendToPage('in.linkedin.com/in/sritiman-adak-0119a31b3')" ><i class="fa-brands fa-linkedin" style="color: rgb(27, 27, 109);"></i></div>
        </div>
        <div class="email-info">
            <div><i class="fa-solid fa-envelope"></i> sritiman24official@gmail.com</div>
            <div><i class="fa-solid fa-square-phone"></i> +91 6289403930</div>
            
        </div>
    </div>
    
</div>
<footer>

</footer>
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show alert-style" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endblock %}