{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="banner">
    <div class="container">
        <div class="b-center">
            <div class="myinfo">
                <h3>Hello There! I am</h3>
                <h2>Sritiman Adak</h2>
                <hr>
                <p>I am a Computer Science Engineering Student and currently persuing Btech from Techno Main Salt Lake, Kolkata.</p>
                <p class="mt-2"><strong>Welcome To my Website !!</strong></p>
                <a href="" class="btn btn-success btn-lg" id="contact-btn">Contact Me</a>
            </div>
            <div class="mypic d-flex justify-content-center">
                <svg height="400px" width="400px">
                    <polygon points="40,198 0,400 360,400, 280,140" style="fill:rgba(83, 73, 231, 0.6);" stroke-linejoin: "round" />
                    <image href = "/static/imgs/my-img.png" x="0" y="85" height="330" width="370"/>
                </svg>
            </div>
            
        </div>
        <div class="b-bottom">
            <span>My Projects</span>
            <i class="bi bi-arrow-down-circle-fill"></i>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center align-item-center m-2" style="transition: 0.5s;">
        {% for project in projects %}
        <a class="col-md-5 project-banner m-3" href="{{project.link}}">
            <div class="row">
                <div class="col-4 thumbnail">           
                    <img src="{{project.image.url}}" alt="Not-found" class="img-fluid">
            
                </div>
                <div class="col-8 project-top">
                    <h3>{{project.title}}</h3>
                    <hr>
                    <p class="p-date"><i class="fas fa-clock"></i> {{project.date}}</p>
                    <!-- <p class="project-desc">{{project.desc}}</p> -->
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}